.page__cart{
    margin: 40px 0 0 0;
}
.cart__container{
    display: flex;
    justify-content: space-between;
}

/* ------------------form----------------------------- */

.form__title{
    position: relative;
}
.form__title-small{
    font-size: 25px;
    font-weight: 600;
    line-height: 121%;
    width: min-content;
    position: relative;
    z-index: 1;
}
.form__title-big{
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-weight: 400;
    font-size: 54px;
    line-height: 191%;
    color: #FDA3C4;
    position: absolute;
    bottom: 20px;
    left: 30px;
}
.form__title-big h2{
    position: relative;
}
.form__title-big img{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.form__contacts{
    margin: 0 0 41px 0;
    display: flex;
    align-items: center;
}
.form__contacts-inner{
    margin: 0 0 0 30px;
}
.form__contacts input{
    border: solid #1F1F1F 1px;
    width: 334px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}
.form__contacts .form__element:not(:last-child){
    margin: 0 0 10px 0;
}
.form__delivery{
    margin: 0 0 46px 0;
    display: flex;
    align-items: center;
}
.form__delivery-inner{
    margin: 0 0 0 70px;
}
.form__delivery span{
    display: block;
    color: #FDA3C4;
    font-size: 16px;
    line-height: 121%;
    padding: 0 0 0 16px;
    margin: 0 0 10px 0;
}
.form__delivery label{
    font-size: 16px;
    line-height: 121%;
}
.form__delivery textarea{
    width: 334px;
    border: solid #1F1F1F 1px;
    border-radius: 5px;
    padding: 10px;
    resize: vertical; 
    min-height: 80px; 
    max-height: 100px;
}
.form__delivery .form__info{
    margin: 0 0 10px 0;
    padding: 0 0 0 16px;
}
.form__pay{
    display: flex;
    align-items: center;
}
.form__pay-inner{
    margin: 0 0 0 100px;
}
.form__pay label{
    font-size: 16px;
    line-height: 121%;
}
.form__pay .form__element{
    margin: 0 0 10px 0;
}
.form__pay input[type="text"]{
    border: solid #1F1F1F 1px;
    width: 334px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}
.form__button{
    display: block;
    cursor: pointer;
    padding: 8px 25px;
    color: white;
    background-color: #FDA3C4;
    font-family: 'Sunday Best [rus by aLiNcE]';
    font-size: 14px;
    width: max-content;
    border-radius: 5px;
    margin: 40px 0 0 280px;
    border: solid 2px #FDA3C4;
}
.form__button:hover{
    background-color: white;
    color: #FDA3C4;
    border: solid 2px #FDA3C4;
}

/* ----------------------cart__products----------------------------------- */

.cart__products-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 121%;
    margin: 0 0 40px 0;
}
.cart__products-inner{
    padding: 0 40px 0 0;
}
.product-card{
    display: flex;
    border-bottom: solid 1px #FDA3C4;
    border-right: solid 1px #FDA3C4;
}
.product-card__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 40px 0 0;
    position: relative;
}
.product-card__close-button{
    position: absolute;
    top: 24px;
    right: 10px;
}
.product-card__name{
    font-weight: 600;
    font-size: 16px;
    line-height: 121%;
}
.product-card__size{
    font-size: 14px;
    font-weight: 400;
    line-height: 121%;
}
.product-card__price{
    font-weight: 700;
    font-size: 16px;
    line-height: 121%;
    color: #FDA3C4;
}
.product-card__image{
    width: 156px;
    height: 180px;
}
.product-card__image img{
    display: block;
    margin: 0, auto;
    height: 100%;
    width: auto;
}
.cart__price{
    margin: 40px 0 0 0;
}
.cart__order-price, .cart__delivery-price, .cart__final-price{
    display: flex;
    justify-content: space-between;
}
.cart__order-price, .cart__delivery-price{
    font-size: 16px;
    font-weight: 400;
    line-height: 121%;
    color: #FDA3C4;
}
.cart__order-price{
    margin: 0 0 8px 0;
}
.cart__delivery-price{
    margin: 0 0 40px 0;
}
.cart__final-price{
    font-size: 25px;
    font-weight: 400;
    line-height: 121%;
}
.font-weight-700{
    font-weight: 700;
}


